body {
  box-sizing: border-box;
}
@media only screen and (max-width: 885px) {
  #container {
    width: 95vw;
  }
  div.logozone div h2 {
    font-weight: 0.7rem;
    line-height: 0.8;
  }

  div.logozone div p {
    font-weight: 0.7rem;
    line-height: 0.8;
  }
  a {
    padding: 2px;
    margin: 2px;
  }
  .projects {
    flex-direction: column;
    align-items: center;
  }
  .projects img {
    width: 100%;
  }
}

@media only screen and (max-width: 670px) {
  #container {
    width: 95vw;
  }
  .cpanels {
    flex-wrap: wrap;
  }
  div.logozone div h2 {
    font-weight: 0.3rem;
    line-height: 0.8;
    margin-bottom: 0;
  }

  .services img {
    width: 95%;
  }

  div.logozone div p {
    margin-top: 10px;
    font-weight: 0.3rem;
    line-height: 0.8;
  }
  .logozone img {
    display: none !important;
  }
  .logozone:first-child {
    justify-content: center;
  }
  .smalldevices {
    display: block !important;
    font-weight: bold;
    font-size: 12px;
  }
  a {
    padding: 5px;
    margin: 5px;
  }
  .projects {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.smalldevices {
  display: none;
}

.navigationbar {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 10px;
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  height: auto;
}

.navigationbar .logozone {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-shrink: 0;
  height: 100px;
  width: 75vw;
  justify-content: center;
  margin-bottom: 10px;
}
.navigationbar .logozone img {
  margin-top: 10px;
  display: block;
  margin-left: 25px;
  border: 1px black solid;
  border-radius: 10px;
}

.navigationbar .logozone h2 {
  font-size: 20px;
}
.navigationbar .logozone p {
  font-size: 14px;
}

.navigationbar #menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#menu a {
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  /* background: #cd163f; */
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");

  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#menu a:hover {
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  background: orangered;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
}

.active {
  background-color: orangered;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

#container {
  position: relative;
  width: 80vw;
  min-height: 80vh;
  /* background-color: rgba(235, 240, 234, 0.9); */
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px rgb(39, 41, 39) solid;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  /* background-image: url("recognition.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */

  background-image: url("https://www.transparenttextures.com/patterns/white-tiles.png");

  background-color: rgba(255, 255, 255, 0.5);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.pulse {
  display: block;
  /* border-radius: 50%; */
  background: #ee5a15;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255, 251, 12, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 orange;
    box-shadow: 0 0 0 0 orange;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(20, 19, 16, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
.marquee-container {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.marquee-code {
  height: auto;
  font-weight: bold;
  background-color: transparent;
  font-size: 14px;
  color: #000000;
}

article {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

span.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.imgleft {
  margin: 20px;
  float: left;
}

.imgright {
  margin: 0 15px;
  float: right;
  width: 20%;
}

.corr {
  width: 30%;
  margin: 0;
}

.corr-45 {
  width: 45%;
}
.corr-35 {
  width: 35%;
}
.wid45 {
  width: 45%;
  margin: 5px;
}
.clearfix {
  clear: both;
}

#footer {
  min-height: 50px;
}

span.small {
  font-size: small;
}

#imagezone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-li div:last-child {
  width: 60%;
}

.cpanels {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.centerimg {
  width: 100%;
}

.centerimg img {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects_spl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.projects_spl img {
  margin: 10px 10px;
  width: 45%;
}
i {
  display: inline-block;
  color: green;
  margin-right: 10px;
}

.incfont {
  font-size: 18px;
  text-align: center;
  color: orangered;
}

.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div .contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div .contact ul li {
  list-style: none;
  font-weight: bold;
}
div .contact ul li#red {
  color: #cd163f;
}

.addresses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

address {
  margin: 10px;
}

p,
ul,
li {
  margin: 10px;
}
